In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('country_vaccination_stats.csv')

In [5]:
df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [9]:
df['daily_vaccinations'].fillna(value=df['daily_vaccinations'].min(),inplace=True)

         country        date  daily_vaccinations         vaccines
78       Belgium  12/29/2020                 1.0  Pfizer/BioNTech
1017      Panama   1/20/2021                 6.0  Pfizer/BioNTech
194        Chile    1/3/2021                51.0  Pfizer/BioNTech
195        Chile    1/4/2021                51.0  Pfizer/BioNTech
823   Luxembourg   1/10/2021                62.0  Pfizer/BioNTech
818   Luxembourg    1/5/2021                62.0  Pfizer/BioNTech
824   Luxembourg   1/11/2021                62.0  Pfizer/BioNTech
819   Luxembourg    1/6/2021                62.0  Pfizer/BioNTech
816   Luxembourg    1/3/2021                62.0  Pfizer/BioNTech
815   Luxembourg    1/2/2021                62.0  Pfizer/BioNTech

In [17]:
df.sort_values('daily_vaccinations',ascending=False).head(3)

            country       date  daily_vaccinations                  vaccines
1458  United States  1/25/2021           1126251.0  Moderna, Pfizer/BioNTech
1457  United States  1/24/2021           1122182.0  Moderna, Pfizer/BioNTech
1456  United States  1/23/2021           1057387.0  Moderna, Pfizer/BioNTech

In [18]:
sum(df[df['date']=='1/6/2021']['daily_vaccinations'].value_counts() == 1)

45